.godot/
.import/
*.tmp
*.log

# Unreal Engine
unreal/**/Binaries/
unreal/**/Build/
unreal/**/DerivedDataCache/
unreal/**/Intermediate/
unreal/**/Saved/
unreal/**/.vs/
unreal/**/*.VC.db
unreal/**/*.sln


unreal/Packaged/
